<!-- <%- partial('_partial/bg-cover') %> -->

<main >
	<script type="text/javascript">
		$(function() {
			/* 导航栏添加颜色 */
			$("#navContainer").addClass("addHeadColor")
			// $("img").attr({ src: $(this).attr("data-original"), alt: "Test Image" });
			
			/* 打开弹框 */
			$('.modal').modal({
				dismissible: true, // Modal can be dismissed by clicking outside of the modal
				opacity: .6, // Opacity of modal background
				in_duration: 300, // Transition in duration
				out_duration: 200, // Transition out duration
				starting_top: '10%', // Starting top style attribute
				ending_top: '10%', // Ending top style attribute
			});
			
			<!-- 手机菜单 -->
			$('select').formSelect();
			$(".m-boxNav select").change(function() {
				console.log($(".m-boxNav select").val())
				window.location.href = ($(".m-boxNav select").val())
			})
			
			/* 到达顶层按钮显示 */
			$(".boxContentDiv").scroll(function() {
				if($(".boxContentDiv").scrollTop()>0){
					$('.box-up').show()
				}else{
					$('.box-up').hide()
				}
				
			})
			/*  到达顶层*/
			$('.box-up').on('click', function() {
				var size = $(".boxContentDiv").scrollTop();
				huadong(size, 400, 20)
			});
			
			/* 平滑滑动的方法 */
			function huadong(size, time, eTime) {
				var size = size;
				var time = time;
				var eTime = eTime;
				var eSize = size / (time / eTime);
				var scollSize = eSize;
				var interval1 = setInterval(function() {
					$(".boxContentDiv").scrollTop(size - scollSize);
					if (scollSize >= size) {
						clearInterval(interval1);
					}
					scollSize = eSize + scollSize;
				}, eTime)
			}
						
		})
		
		
	</script>
	<style>
		.addHeadColor{
			background: linear-gradient(to right, rgba(0, 204, 204, 0.6) 0%, rgba(0, 255, 153, 0.6) 100%);
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 10px 0 rgba(0, 0, 0, 0.12);
		}

		/* 总box div */
		.box {
			height: 552px;
			background-color: rgba(196,196,196 ,0.4);
			border: 12px solid rgba(255,255,255,0.8);
			border-radius: 0 0 2px 2px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 10px 0 rgba(0, 0, 0, 0.12);
		}

		.box * {
			font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
		}

		/* 左边菜单项div */
		.boxNavDiv {
			background-color: rgba(90, 90, 90, 0.8);
			height: 98%;
			overflow: scroll;
			overflow-x: auto;
		}

		/* 左边菜单项里的logo div*/
		.boxLogoDiv {
			font-family: sans-serif;
			height: 150px;
			font-size: 35px;
			font-weight: bolder;
			color: #48DD22;
			line-height: 133px;
			background-color: whitesmoke;
			background-image: url(https://api.ixiaowai.cn/api/api.php);
			background-size: cover;
			opacity: 0.9;
		}

		/* 左边菜单项里a标签 */
		.boxNav>a {
			width: 100%;
			height: 50px;
			font-size: 21px;
			border: 2px solid rgba(204, 204, 255, 1);
			cursor: pointer;
			background-color: rgba(214, 165, 92, 0.6);
			text-align: left;
			line-height: 47px;
		}

		.boxNav>a:hover {
			background-color: rgba(78, 228, 228, 0.8);
		}

		/* 右边内容主体 */
		.boxContentDiv {
			background-color: rgba(221, 221, 221, 0.5);
			height: 98%;
			overflow: scroll;
		}

		/* 右边内容里的分类标题 */
		.boxContentTitle {
			font-size: 28px;
			font-weight: 600;
			background: #ffffcc;
			border: 1px solid white;
		}

		/* 右边内容里的每一项 */
		.boxCart {
			height: 93px;
			border-radius: 5px;
			background: #9e9e9e;
			margin-bottom: 5%;
			overflow: hidden;
		}

		.boxCart a {
			color: white;
		}

		.boxCart img {
			height: 68px;
			width: 30%;
			margin: 4%;
			float: left;
			border-radius: 3px;
			object-fit: contain;
		}

		/* 右边内容里每一项里文字信息 */
		.boxCartTitleInfo {
			width: 59%;
			margin-left: 35%;
			padding-top: 2%;
			font-size: 16px;
			overflow: hidden;
		}

		/* 右边内容里每一项里文字信息的小标题 */
		.boxCartTitleInfo>.bcTitle {
			font-size: 19px;
			font-weight: 600;
			height: 29px;
			overflow: hidden;
		}

		.boxCartTitleInfo hr {
			width: 34%;
			margin: 0;
		}

		/* 右边内容里每一项里文字信息的简介 */
		.boxCartTitleInfo>.bcInfo {
			height: 48px;
			overflow: hidden;
		}

		.boxCartTitleInfo>* {
			margin: 1%;
		}

		/* 聚焦颜色变换 */
		.ts1 {
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px transparent;
			-webkit-transition-property: color;
			transition-property: color;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
		}

		.ts1:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #81c784;
			border-radius: 100%;
			-webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		.ts1:hover:before,
		.ts1:focus:before,
		.ts1:active:before {
			-webkit-transform: scale(2);
			transform: scale(2);
		}
		
		.box-aboutInfo p{
			font-size: 18px;
		}
		
		.box-up{
			position: fixed;
			left: 80%;
			top: 73%;
		}
		
		.m-boxNav {
			padding: 0 10px 0 10px;
			background-color: lightskyblue;
			border: 1px solid coral;
			position: fixed;
			left: 51%;
			top: 12%;
			width: 170px;
			z-index: 10;
		}
	</style>
		
	<%
	let box = [];
	if (site.data && site.data.box) {
		box = site.data.box
	}
	%>
	
	<div class="container">
		<div class="row box">
			
			<!-- 手机菜单 -->
			<% if (box.length>0) { %>
				<div class="input-field m-boxNav hide-on-med-and-up">
					<select>
					<option value="" disabled selected>类型</option>
					<% for (var i = 0, len =box.length; i < len; i++) { %>
						<option value="#m<%-i%>"><%- box[i].title %></option>
					<% } %>
					</select>
				</div>
			<% }%>
			
			<!-- 向上按钮 -->
			<a class="btn-floating waves-effect waves-light red box-up" style="display: none;"><i class="czs-arrow-up-l"></i></a>
			<!-- 免责申明 -->
			<div class="col l12 m12 s12" style="text-align: right;"><a class="modal-trigger teal lighten-5" href="#modal1">关于本导航收藏</a></div>
			<div id="modal1" class="modal modal-fixed-footer">
				<div class="modal-content box-aboutInfo">
					<h4><i class="czs-face-l"></i>关于本导航页面</h4><br />
					<h5><i class="czs-about-l" ></i>免责声明：</h5>
					<p>1. 本站导航收藏里所有的图标、网址信息等归原网站所有，本网站只做信息整理而已。</p>
					<p>2. 关于本站导航收藏里的所有网站均未进行深度访问，请访客自行对访问内容进行辨别，本站不对导航网站里内容负责。</p>
					<p>3. 本站属公益性网站，不涉及任何商业运营活动。</p><br />
					<h5><i class="czs-doc-edit-l"></i>联系我：</h5>
					<p>本站唯一域名: <a href="https://blog.onfree.cn">https://blog.onfree.cn</a></p>
					<p>如果你有任何疑问或困惑，欢迎留言或者邮件我：<span style="color: #009688;">athink8@163.com</span></p>
					<p>如果你有关于比较好或有趣的网站，欢迎<a href="https://blog.onfree.cn/contact">提交</a>我哦！谢谢</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">同意</a>
				</div>
			</div>
			
			<!-- 菜单 -->
			<div class="hide-on-med-and-down col l3 m3 s12 boxNavDiv side-nav">
				<div class="boxLogoDiv center-align"><span style=" background-color: rgba(255,255,255,0.7);padding: 2%;">Athink_box</span></div>
				<div class="boxNav">
					<% if (box.length>0) { %>
					    <% for (var i = 0, len =box.length; i < len; i++) { %>
					    	<a href="#m<%-i%>" class="waves-teal btn-flat waves-effect waves-green">
								<i class="<%- box[i].icon %>"></i>&nbsp<%- box[i].title %>
							</a>
					    <% } %>
					<% }%>
				</div>
			</div>
			
			<!-- 内容 -->
			<div class="col l9 m9 s12 boxContentDiv ">
				<% if (box.length>0) { %>
				    <% for (var i = 0, len =box.length; i < len; i++) { %>
						<div id="m<%-i%>" class="row boxContent ">
							<div class="boxContentTitle m12 center-align">
								<i class="<%- box[i].icon %>">&nbsp</i><%- box[i].title %>
							</div><hr>
							<div class="row boxCarts">
								<% for (var j = 0, len2 =box[i].sites.length; j < len2; j++) { %>
									<div class="col m4 s12 l4">
										<div class="boxCart ts1">
											<a href="<%- box[i].sites[j].href%>" >
												<img class="boxCartIcon" src=<%- box[i].sites[j].logo %> alt="">
												<div class="boxCartTitleInfo">
													<div class="bcTitle"><%- box[i].sites[j].name %></div><hr />
													<div class="bcInfo"><%- box[i].sites[j].desc %></div>	
												</div>
											</a>
										</div>
									</div>
								<% } %>
							</div>
						</div>
				    <% } %>
				<% } %>
			</div>
		</div>
	</div>
</main>