<!-- 是否开启jsDelivr 加速 -->
<% if (theme.jsDelivr.enable) { %>
	<link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- theme.libs.css.aplayer %>">
	<script src="<%- theme.jsDelivr.url %><%- theme.libs.js.aplayer %>"></script>
	<script src="<%- theme.jsDelivr.url %><%- theme.libs.js.meting %>"></script>
<% } else { %>
	<link rel="stylesheet" href="<%- theme.libs.css.aplayer %>">
	<script src="<%- theme.libs.js.aplayer %>"></script>
	<script src="<%- theme.libs.js.meting %>"></script>
<%}%>	

<div class="<% if(!theme.music.fixed) { %>music-player<% } %>">
    <% if (!theme.music.fixed && theme.music.title.enable) { %>
        <div class="title center-align">
            <i class="fas fa-music"></i>&nbsp;&nbsp;<%- theme.music.title.show %>
        </div>
    <% } %> 
    <div class="row">
        <meting-js class="col l8 offset-l2 m10 offset-m1 s12"
                   server="<%- theme.music.server%>"
                   type="<%- theme.music.type%>"
                   id="<%- theme.music.id%>"
                   fixed="<%- theme.music.fixed ? 'true':'false' %>"
				   loop="<%- theme.music.loop %>"
                   autoplay="<%- theme.music.autoplay === 'true' %>"
                   theme:="<%- theme.music.theme %>"
                   order="<%- theme.music.order %>"
                   preload="<%- theme.music.preload %>"
                   volume="<%- Number(theme.music.volume) %>"
                   list-folded="<%- theme.music.listFolded? 'true':'false' %>"
				   mini="<%- theme.music.mini? 'true':'false' %>"
        >
        </meting-js>
    </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script> -->
